.alert-link {
  text-decoration: none;
  color: white;
}

.alert-link:hover {
  text-decoration: underline;
  color: white;
}

.alert {
    font-family: 'Product Sans';
    padding: 20px;
    background-color: #28b3ca;
    color: white;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}
