# Don't forget to turn on the rewrite engine
RewriteEngine on

# Maintenance Redirection
# Uncomment first conditional to turn off the redirection
# RewriteCond %{REQUEST_URI} ^$a
RewriteCond %{REQUEST_URI} !maintenance.php
RewriteCond %{REQUEST_FILENAME} !(styles|images).+$
RewriteCond %{REMOTE_ADDR} !^YOU_CAN_NOT_SEE_MY_IP$
RewriteRule (.*) /maintenance.php [R,L]
