body {
  background-color: #EDDEA4 /*Need to know the color scheme to do this*/;
}
#nav {
  width: 100%;
  height: 60px;
  background-color: #D1C598 /*Need to know the color scheme to do this*/;
  color: #fff;
}
#nav, .nav {
  list-style-type: none;
  display: inline-block;
  margin: auto;
  padding: 0;
  height: 60px;
  white-space: nowrap;
}
