body {
	margin: 0px;
	font-family: 'Segoe UI', Helvetica, Arial;
}

h1 {
	font-weight: normal;
}

.main-content {
	padding: 5px 15px;
	text-align: center;
}

.team {
	padding: 5px 10px;
	align-items: center;
    	justify-content: center;
   	align-items: center;
	display: flex;
    	-webkit-box-direction: normal;
    	-webkit-box-pack: center;
   	flex-wrap: wrap;
    	flex-direction: row;
    	-webkit-box-align: stretch;
}

.team-member {
	height: 205px;
    	width: 226px;
    	border: 1px solid #e9e7e7;
    	text-align: center;
    	border-radius: 4px;
    	padding-bottom: 22px;
    	margin: 22px 16px 0px;
    	font-size: 16px;
    	display: flex;
    	flex-direction: column;
    	-webkit-box-orient: horizontal;
    	-webkit-box-direction: normal;
   	-webkit-box-align: center;
    	align-items: center;
}

.name {
	color: #4f545c;
}

.job-title {
	color: #99aab5;
}

.icon {
	margin: 5px;
	width: 200px !important;
	height: 200px !important;
	font-size: 100% !important;
}
