#blue_nav {
    width: 100vw;
    height: 40px;
    background-color: #99B2FF;
    position: fixed;
}

#blue {
    padding-bottom: 40px;
}

#sidebar {
    box-shadow: 0 0 20px;
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: -1;
    background-color: #acacac;
}

#div1 {
    width: 68%;
    min-height: 100vh;
    background-color: #fff;
    margin: 0;
    float: right;
    margin-right: 10%;
    box-shadow: 0 0 20px #fff;
    padding: 10px;
}

img {
    z-index: -1;
}

body {
    margin: 0;
    font-family: helvetica;
}

body {
    background: #5c5c5c;
}

#submitsite {
    position: absolute;
    left: 210px;
    width: 145px;
    top: 5px;
    cursor: pointer;
}

#templatesite {
    position: absolute;
    left: 210px;
    width: 145px;
    top: 50px;
    cursor: pointer;
}

#dialogue {
    width: 27%;
    height: 400px;
    position: fixed;
    border: 1px solid #000;
    left: 35%;
    background-color: #ffd700;
    visibility: hidden;
    margin: 0;
    padding: 0;
}

#xdialogue {
    width: 20px;
    height: 20px;
    border: 1px solid #000;
    float: right;
    text-align: center;
    background-color: red;
    cursor: pointer;
}

.white-blue {
    color: #fff;
    font-size: 20px;
    top: 10px;
}

.syms {
    padding: 8px;
    text-align: right;
    padding-right: 20px;
}

.DD:hover {
    cursor: pointer;
}

.DD {
    float: left;
}

.accordion {
    font-family: Arial,Helvetica,sans-serif;
    border-color: #505050;
    border-style: solid;
    border-width: 0;
    margin: 0 auto;
    height: auto;
    width: 200px;
}

.accordion > ul > li,.accordion-title,.accordion-content,.accordion-separator {
    float: none;
}

.accordion > ul > li {
    background-color: #000;
    margin-right: -0;
    margin-bottom: -500px;
}

.accordion-select:checked ~ .accordion-separator {
    margin-right: 0;
    margin-bottom: 500px;
}

.accordion-title,.accordion-select {
    transition: all .15s ease;
    background-color: #949494;
    color: #fff;
    width: 100%;
    height: 35px;
    font-size: 15px;
}

.accordion-title span {
    margin-bottom: 20px;
}

.accordion-select:hover ~ .accordion-title,.accordion-select:checked ~ .accordion-title {
    background-color: #C9424B;
}

.accordion-select:checked {
    background-color: #C9424B;
}

.accordion-title span {
    transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -ms-writing-mode: lr-tb;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
    margin-bottom: 0;
    line-height: 35px;
}

.accordion-content {
    background-color: #acacac;
    color: #000;
    height: 460px;
    width: 160px;
    padding: 20px;
}

.accordion-title,.accordion-select:checked ~ .accordion-content {
    margin-right: 1px;
    margin-bottom: 1px;
}

/* Do not change following properties, they aren't 
            generated automatically and are common for each slider. */
.accordion {
    overflow: hidden;
}

.accordion > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 101%;
}

.accordion > ul > li,.accordion-title {
    position: relative;
}

.accordion-select {
    cursor: pointer;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 1;
}

.accordion-title span {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
}

.accordion-content {
    position: relative;
    overflow: auto;
}

.accordion-separator {
    transition: margin .3s ease .1s;
    -o-transition: margin .3s ease .1s;
    -moz-transition: margin .3s ease .1s;
    -webkit-transition: margin .3s ease .1s;
}

img {
    cursor: move;
}

.element-wrapper {
    margin: 5px;
    padding: 10px;
    border: 2px dashed rgb(172, 172, 172);
    border-radius: 4px;
    transition: 0.3s;
    text-align: center !important;
}

.element-wrapper:hover {
    border: 2px dashed rgb(162, 162, 162);
}

.settings-icon {
	margin: 0px;
	float: right;
	width: 33px;
    height: 33px;
	cursor: pointer;
    background: url("https://maxcdn.icons8.com/windows10/PNG/32/Very_Basic/settings-32.png") no-repeat center center;
	vertical-align: center;
}
